* {
  color: white !important;
}

.nav_elements:hover {
    color: #fff859 !important;
    transition: 1s !important;
  }
  
  .nav_elements:after {
    content: "" !important;
    height: 3px !important;
    width: 0 !important;
    background: #fff859 !important;
    position: absolute !important;
    left: 0 !important;
    bottom: -5px !important;
    transition: 0.4s !important;
  }
  .nav_elements:hover:after {
    width: calc(100% - 95px) !important;
  }
  
  .nav11 {
    width: 100vw !important;
  } 

  .honeycomb-wrapper {
    position: absolute;
    aspect-ratio: 1/1;
    width: 30rem;
    height: 30rem;
    top: -2rem;
    right: -4rem;
    opacity: 20%;
    z-index: -1;
  }