@font-face {
  font-family: Poppins-ExtraLight;
  src: url(../fonts/poppins/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(../fonts/poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Thin;
  src: url(../fonts/poppins/Poppins-Thin.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

html body {
  background-color: #022b3b;
  overflow-x: hidden !important;
}

.title {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: bottom;
  text-align: center;
  padding: 0 30px;
  opacity: 0%;
  transform: translateY(50px);
}

.title h1 {
  font-family: "Poppins-ExtraLight", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

.title span {
  font-size: 6.5rem;
  font-family: "Montserrat-Bold", serif;
  font-weight: bolder;
  color: #fff859;
}

.button {
  margin-top: 20px;
  font-family: "Poppins-Bold", sans-serif;
  padding: 10px 30px;
  position: relative;
  text-decoration: none;
  background-color: #fff859;
  color: #022b3b !important;
  box-shadow: 0 0 10 black;
  transform: translateY(50px);
  opacity: 0%;
  border: none;
  cursor: pointer;
}

.button::before {
  position: absolute;
  display: block;
  content: "";
  left: -4px;
  top: -4px;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  border: 1px solid white;
}

.button:hover {
  background-color: #fffaa4;
  transition: 0;
}

#good {
  position: absolute;
  top: -0.5rem;
  left: 1.75rem;
  font-family: "Poppins-Thin";
  font-size: 2.5rem;
  color: white;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.feel {
  /* margin-top: .6rem; */
  max-width: 90%;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  color: white;
  transform: translateY(50px);
  opacity: 0%;
}

.banner {
  width: 100%;
  height: 100svh;
  display: grid;
  position: relative;
  place-items: center;
  /* z-index: -4; */
}

.banner video {
  z-index: -4;
  opacity: 55%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visible {
  opacity: 100%;
  transform: translateY(0px);
  transition: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes wipe-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

footer.py-5 {
  padding-bottom: 0vh !important;
}

@media (max-width: 930px) {
  #good {
    display: none;
  }
}

@media (max-width: 520px) {
  .title h1 {
    font-size: 3rem;
  }

  .title span {
    font-size: 5rem;
  }
}
