header {
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    background-color: #043D4F;
    /* backdrop-filter: blur(4px); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    border-bottom: solid white .5px;
}

header>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 5px;
}

header>a>img {
    height: 65px;
}

header>a>span {
    font-weight: bold;
    font-size: 1.5rem;
}

#hamburger-menu {
    display: none;
    position: relative;
    height: 30px;
    width: 30px;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#hamburger-menu>div {
    height: 1px;
    width: 25px;
    background-color: white;
    transform: rotate(0, 0, 0) translateX(0) translateY(0);
    transition: .4s;
    z-index: 4;
}

#hambar1 {
    transform: translateX(1px) translateY(2.75px) rotate(45deg);
}

#hambar2 {
    transform: translateX(1px) translateY(-2.75px) rotate(-45deg);
}

header>ul {
    display: flex;
    list-style: none;
}

header>ul {
    gap: 30px;
    font-size: 1rem;
    font-weight: 200;
    margin: .5rem;
    align-items: center;
}


header li>a, .dropdown a{
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transition: .3s;
    list-style: none;
}

.dropdown a {
    font-size: 1.4rem;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0%;
    transition: .3s opacity;
}

header li:hover>a, .dropdown li:hover>a {
    color: #fef758;
}

._visible {
    height: 100lvh;
    background-color: rgba(2,43,59,.8);
}

._visible a {
    opacity: 100%;
}

@media(max-width: 600px) {
    #hamburger-menu {
        display: flex;
    }

    header>ul {
        display: none;
    }

    .dropdown {
        display: flex;
    }
}