@keyframes wipe-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Glacial Indifference", sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

.traverse-section {
  position: relative;
  width: 100%;
  height: 125vh;
  background-color: #022b3b;
  padding-top: 80px;
  overflow: hidden;
}

aside {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100lvh;
  min-width: 6rem;
  max-width: 6rem;
  width: calc(100% - 1in);
  background-color: #043d4f;
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding-top: 80px;
  overflow-x: hidden;
}

.era-nav-container {
  min-width: 6rem;
  height: 100%;
  padding: 10px 15px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.era-nav-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(7, 98, 113);
  background: -moz-linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#076271",endColorstr="#03344d",GradientType=1);
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.era-nav-img-wrapper > img {
  position: absolute;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  opacity: 0;
}

.era-nav-border-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border: solid 1px transparent;
  cursor: pointer;
  margin-top: 15px;
  transform: scale(1.2);
  padding: 3px;
  border-radius: 50%;
  transition: 0.5s border;
}

.era-nav-border-wrapper:hover {
  border: solid 1px #fff859;
  transition: 0s border;
}

.era-badge-label {
  background-color: #022b3b;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  color: white;
  padding: 2px 12px;
  z-index: 11;
  position: fixed;
  transform: translateY(-100%);
}

.era-nav-info {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  /* background: rgb(7, 98, 113);
  background: -moz-linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#076271",endColorstr="#03344d",GradientType=1); */
}

.era-nav-info>img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  filter: brightness(70%) contrast(140%);
  opacity: 0;
}

.era-nav-info-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: white;
  justify-content: end;
  top: 0;
  left: 0;
  padding: 0 20px 20px 20px;
}

.era-nav-info-wrapper > h3 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  position: relative;
}

.era-nav-info-wrapper > h3::before {
  position: absolute;
  display: block;
  content: "";
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.era-nav-info-wrapper > p {
  height: auto;
  max-height: 66%;
  overflow-y: hidden;
  text-align: justify;
}

body {
  background-color: #022b3b;
  margin-top: 80px;
  overflow-x: hidden;
}

.page-header {
  display: grid;
  place-items: center;
  padding: 1rem 20px 0 20px;
  position: relative;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 6rem;
}

#discover {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 3.5rem;
  animation: wipe-left 2s ease-in-out;
  animation-delay: 0.1s;
  opacity: 0;
  animation-fill-mode: forwards;
  text-align: center;
}

#different {
  position: relative;
  color: #fff859;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
  bottom: 1rem;
  animation: wipe-left 2s ease-in-out;
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
  text-align: center;
}

#honeycomb1 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  top: -1rem;
  right: -4rem;
  opacity: 20%;
  z-index: -1;
}

.featured-section {
  background-color: #0c617c;
  width: calc(95% - 6rem);
  aspect-ratio: 7/4;
  margin-left: calc(6rem + 5%);
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 30px 30px 30px 60px;
}

.vertical-line {
  position: absolute;
  top: 30px;
  left: 30px;
  height: calc(100% - 60px);
  width: 4px;
  background-color: #fff859;
}

.featured-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.featured-label>h1{
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 3rem;
  text-align: end;
  padding-bottom: 10px;
}

.featured-label>h2 {
  color: #fff859;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 10px;
}

.slide-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.slide {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: rgb(7, 98, 113);
  background: -moz-linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(7, 98, 113, 1) 0%,
    rgba(19, 152, 154, 1) 20%,
    rgba(3, 52, 77, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#076271",endColorstr="#03344d",GradientType=1);
  overflow: hidden;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
}

.slide-container img {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slide-info {
  display: flex;
  position: absolute;
  height: 100%;
  width: 66%;
  background: rgb(12,97,124);
  background: -moz-linear-gradient(90deg, rgba(12,97,124,1) 10%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(12,97,124,1) 10%, rgba(0,0,0,0) 100%);
  background: linear-gradient(90deg, rgba(12,97,124,1) 10%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c617c",endColorstr="#000000",GradientType=1);
  z-index: 3;
  color: #fff;
  justify-content: end;
  flex-direction: column;
  padding: 20px 40px;
}

.slide-info>h3 {
  font-size: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.slide-info>a {
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.slide-controls {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 50px;
  gap: 10px;
}

.slide-controls>button {
  width: 4rem;
  height: 4rem;
  border: none;
  font-family: monospace;
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  font-size: 2rem;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  transition: 0.5s;
}

.slide-controls>button:hover {
  background-color: #bbb;
  color: #fff;
  transition: 0s;
}

.footer-wrapper {
  margin-top: 6rem;
  margin-left: 6rem;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

@media (max-width: 900px) {
  .header-container {
    align-items: center;
  }

  #discover {
    font-size: 2.5rem;
  }

  #different {
    font-size: 1.5rem;
  }

  .featured-label>h1 {
    font-size: 2rem;
  }

  .featured-label>h2 {
    font-size: 2.5rem;
  }

  .featured-label {
    gap: 5px;
  }

  .featured-section {
    width: calc(100% - 6rem);
    margin-left: 6rem;
    padding: 15px;
  }

  .slide-container {
    aspect-ratio: 5/3;
  }

  .vertical-line {
    display: none;
  }

  .slide-info>h3 {
    font-size: 4rem;
  }
  
  .slide-info>a {
    font-size: 1rem;
  }
  
  .slide-info {
    bottom: 0;
    height: 66%;
    width: 100%;
    background: rgb(12,97,124);
    background: -moz-linear-gradient(0deg, rgba(12,97,124,1) 10%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(12,97,124,1) 10%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(12,97,124,1) 10%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c617c",endColorstr="#000000",GradientType=1);
  }
}



/* unexplored */

.rectangle {
  width: 1500px;
  height: 1000px;
  background-color: #0c617c;
  border-radius: 40px;
}
#featured {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 4.5em;
  text-align: left;
  margin-left: 3em;
  margin-top: 5vh;
}

#inside {
  display: flex;
  flex-direction: row;
}

#artist {
  margin-top: 5vh;
}
#artists {
  color: #fff859;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6em;
  text-align: left;
  letter-spacing: 1vw;
  margin-left: 0.5vw;
}

#featured {
  animation: float-down 1.8s ease-in-out;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes float-down {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  60% {
    transform: translateY(10%);
    opacity: 1;
  }
  80% {
    transform: translateY(-5%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#artists {
  animation: float-up 1.8s ease-in-out;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes float-up {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  60% {
    transform: translateY(-20%);
    opacity: 0.5;
  }
  80% {
    transform: translateY(5%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*SLider part - 1st artist */
.col-content {
  position: relative;
  filter: brightness(0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45vh;
  margin-top: 65vh;
}

.col-content img {
  margin-bottom: 20px;
  border-radius: 27px;
  height: 400px;
  width: 1080px;
  object-fit: cover;
  opacity: 0.8;
}

.col-content {
  position: relative;
  filter: brightness(0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45vh;
  margin-top: 65vh;
}

.col-content:hover {
  filter: brightness(1.2);
  transform: scale(1.03);
  cursor: pointer;
}

.col-content h5 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  font-size: 6vh;
  color: white;
  font-weight: 500;
  bottom: 15vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -46vw;
  z-index: 1;
}

.col-content p {
  font-family: "Poppins";
  position: absolute;
  font-size: 2.3vh;
  color: white;
  bottom: 10vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -56vw;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 7.5vh;
  width: 70%;
  height: 95.5%;
  background-image: radial-gradient(
      circle at left center,
      #1e424b,
      transparent 40%
    ),
    linear-gradient(to right, #0c617c 10%, transparent 90%);
  background-position: left center, left center;
  background-repeat: no-repeat, no-repeat;
  border-radius: 27px;
  opacity: 1;
  display: flex;
}

.col-content:hover .overlay {
  opacity: 4;
}
/*SLider part - 2nd artist */

.col-content_2 {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45vh;
  margin-top: 65vh;
}

.col-content_2 img {
  margin-bottom: 20px;
  border-radius: 27px;
  height: 400px;
  width: 1080px;
  object-fit: cover;
  opacity: 80%;
}

.col-content_2:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  cursor: pointer;
}

.col-content_2 h5 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  font-size: 6vh;
  color: white;
  font-weight: 500;
  bottom: 15vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -45vw;
  z-index: 1;
}

.col-content_2 p {
  font-family: "Poppins";
  position: absolute;
  font-size: 2.3vh;
  color: white;
  bottom: 10vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -56vw;
  z-index: 1;
}

/*SLider part - 3rd artist */
.col-content_3 {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45vh;
  margin-top: 65vh;
}

.col-content_3 img {
  margin-bottom: 20px;
  border-radius: 27px;
  height: 400px;
  width: 1080px;
  object-fit: cover;
  opacity: 80%;
}

.col-content_3:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  cursor: pointer;
}

.col-content_3 h5 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  font-size: 6vh;
  color: white;
  font-weight: 500;
  bottom: 15vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -52vw;
  z-index: 1;
}

.col-content_3 p {
  font-family: "Poppins";
  position: absolute;
  font-size: 2.3vh;
  color: white;
  bottom: 10vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -56vw;
  z-index: 1;
}

/*SLider part - 4th artist */

.col-content_4 {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45vh;
  margin-top: 65vh;
}

.col-content_4 img {
  margin-bottom: 20px;
  border-radius: 27px;
  height: 400px;
  width: 1080px;
  object-fit: cover;
  opacity: 80%;
}

.col-content_4:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  cursor: pointer;
}

.col-content_4 h5 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  font-size: 6vh;
  color: white;
  font-weight: 500;
  bottom: 15vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -51vw;
  z-index: 1;
}

.col-content_4 p {
  font-family: "Poppins";
  position: absolute;
  font-size: 2.3vh;
  color: white;
  bottom: 10vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -56vw;
  z-index: 1;
}

/*SLider part - 5th artist */

.col-content_5 {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45vh;
  margin-top: 65vh;
}

.col-content_5 img {
  margin-bottom: 20px;
  border-radius: 27px;
  height: 400px;
  width: 1080px;
  object-fit: cover;
  opacity: 80%;
}

.col-content_5:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  cursor: pointer;
}

.col-content_5 h5 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  font-size: 6vh;
  color: white;
  font-weight: 500;
  bottom: 15vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -39vw;
  z-index: 1;
}
.col-content_5 p {
  font-family: "Poppins";
  position: absolute;
  font-size: 2.3vh;
  color: white;
  bottom: 10vh;
  text-align: justify;
  cursor: pointer;
  margin-left: -56vw;
  z-index: 1;
}

/*Yellow vertical line*/


/* Slider styles */

/* .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: transform 0.5s ease-in-out;
}

.slide.active {
  display: block;
  transform: translateX(0);
} */

/* Auto button styles */
.auto-btn {
  background-color: #fff859;
  border: 2px solid rgb(253, 253, 255);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
  margin-right: 10px;
}

.auto-btn:hover {
  background-color: #fff859;
  border-color: #fff859;
  transform: scale(1.1);
}

.auto-btn.active {
  background-color: #fff859;
  border-color: #fff859;
}

/* Radio button styles */

input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid rgb(253, 253, 255);
  cursor: pointer;
  margin-right: 30px;
}

input[type="radio"]:checked {
  background-color: #fff859;
  border-color: #fff859;
}

/* Navigation auto styles */

.navigation-auto {
  position: absolute;
  bottom: 5vh;
  left: 60%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.navigation-auto label {
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-right: 25px;
}
